html,
body {
  height: 100%;
  margin: 0;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  position: relative;
  width: 100%;
  text-align: center;
  background: white;
  font-size: 0.6vw;
  bottom: 0;
  left: 0;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  .machveneblebi-left {
    width: 40% !important;
  }
}
