.grid {
    display: grid;
}
thead,
tbody {
    display: inline-flex;
}
.flex {
    display: flex;
}
.right {
    float: right;
}

tbody tr {
    display: inline-grid;
}

.td-empty {
    width: 337px;
    font-weight: bolder;
    font-size: x-large !important;
}

th,
td {
    font-size: 13px !important;
    font-weight: bold;
}

input[type="checkbox"] {
    margin: 0 5px 5px 5px !important;
}

/* .position-center {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

footer {
    bottom: -25px;
}

#append {
    display: inline-flex;
}

#append tr {
    margin-right: 10px;
    border-left-style: outset;

    /* min-width: 80px;
    max-width: 80px; */
}

#append tr:first-child {
    border-left-style: unset;
}

.machveneblebi {
    width: 337px;
}

.mhidden {
    display: none;
}

.tdInfoRow {
    /* border: 1px solid black; */
    height: 25px !important;
    width: 78px !important;
    text-align: center;
    margin-top: 12px;
}

.machveneblebi_height {
    height: 50px !important;
}

.regionebi {
    width: 120px;
}

#IdTrInfoRow {
    min-width: 80px;
    max-width: 80px;
}

#list-footer {
    /* position: unset !important; */
    position: relative;
}

tbody tr:first-child {
    width: 336px !important;
}

/* tbody tr:not:first-child{
    width: 120px;
} */

.pngIcons {
    width: 23px;
}

.iconsPng:hover {
    text-decoration: none;
}

@media screen and (max-width: 1366px) {
    body {
        zoom: 67%;
    }
}

.regionebi.reg {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.copy3 {
    font-weight: bold;
}

th.machveneblebi_height {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.textbox-left-home {
    margin-top: -57px;
    margin-left: 25px;

    z-index: 100 !important;
    width: 160px;
    left: unset;
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.textbox-left-home:hover {
    background-color: #ed1c24;
}

.textbox-right-home:hover {
    background-color: #ed1c24 !important;
}

.selector {
    text-align: center;
}

.btn-srch {
    color: #fff;
    background-color: #f44336;
}

#srch {
    margin: 10px 0 10px 0;
}

.btn-srch:hover {
    color: #333;
    background-color: #ed1c24;
}

.multiselect-list {
    text-align: left;
}
.multiselect-wrapper {
    width: 250px !important;
}

.chart, .maps{
    width: 250px;
    display: inline-grid;
}
