.grid {
    display: grid;
}
thead,
tbody {
    display: inline-flex;
}
.flex {
    display: flex;
}
.right {
    float: right;
}

tbody tr {
    display: inline-grid;
}

.td-empty {
    width: 337px;
    font-weight: bolder;
    font-size: x-large !important;
}

th,
td {
    font-size: 13px !important;
    font-weight: bold;
}

input[type="checkbox"] {
    margin: 0 5px 5px 5px !important;
}

/* .position-center {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

footer {
    bottom: -25px;
}

#append {
    display: inline-flex;
}

#append tr {
    margin-right: 10px;
    border-left-style: outset;

    /* min-width: 80px;
    max-width: 80px; */
}

#append tr:first-child {
    border-left-style: unset;
}

.machveneblebi {
    width: 337px;
}

.mhidden {
    display: none;
}

.tdInfoRow {
    /* border: 1px solid black; */
    height: 25px !important;
    width: 78px !important;
    text-align: center;
    margin-top: 12px;
}

.machveneblebi_height {
    height: 50px !important;
}

.regionebi {
    width: 120px;
}

#IdTrInfoRow {
    min-width: 80px;
    max-width: 80px;
}

#list-footer {
    position: unset !important;
}

tbody tr:first-child {
    width: 336px !important;
}

/* tbody tr:not:first-child{
    width: 120px;
} */

.pngIcons {
    width: 23px;
}

.iconsPng:hover {
    text-decoration: none;
}

@media screen and (max-width: 1366px) {
    body {
        zoom: 67%;
    }
}

.regionebi.reg{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}