@media screen and (max-width: 1600px) {
  .regions-btn {
    width: 27vh;
  }

  .machveneblebi-left,
  .machveneblebi-right {
    font-size: 14px;
  }

  svg#svg9 {
    float: unset;
    width: 655px;
    height: 1000px;
    position: unset;
    border: unset;
  }

  svg {
    float: left;
    width: inherit;
    height: inherit;
    position: fixed;
    border: 0px solid blue;
  }

  #tbilisiSVG {
    width: 59%;
  }

  #mestiaSVG {
    width: 852px;
    margin-left: 0.54%;
    margin-top: -14%;
  }

  g#layer2 {
    transform: scale(2.2);
    -webkit-transform-origin-x: 840px;
    -webkit-transform-origin-y: 1005px;
  }

  g#layer3 {
    transform: scale(1.7);
    -webkit-transform-origin-x: 911px;
    -webkit-transform-origin-y: 1653px;
  }

  g#layer5 {
    transform: scale(1.4);
    -webkit-transform-origin-x: 289vh;
    -webkit-transform-origin-y: 281vh;
  }

  g#layer6 {
    transform: scale(1.4);
    -webkit-transform-origin-x: 273vh;
    -webkit-transform-origin-y: 183vh;
  }

  g#layer7 {
    transform: scale(1.5);
    -webkit-transform-origin-x: 264vh;
    -webkit-transform-origin-y: 690px;
  }

  g#layer8 {
    transform: scale(1.4);
    -webkit-transform-origin-x: 3600px;
    -webkit-transform-origin-y: 2417px;
  }

  g#layer9 {
    transform: scale(1.2);
    -webkit-transform-origin-x: 1035vh;
    -webkit-transform-origin-y: 2555px;
  }

  g#layer12 {
    transform: scale(1.8);
    -webkit-transform-origin-x: 267vh;
    -webkit-transform-origin-y: 1131px;
  }

  g.layer11 {
    transform: scale(1.1) !important;
    -webkit-transform-origin-x: 12500px !important;
    -webkit-transform-origin-y: 3936px !important;
  }
  table thead tr th {
    font-size: 18px;
  }
  table tr th {
    font-size: 13px;
  }
  table tbody tr td div {
    font-size: 13px;
  }
  .zoom-out {
    font-size: 12px;
    top: 71px;
  }

  table tbody tr th img {
    width: 20px;
    height: 20px;
  }
  table tbody tr th img:after {
    width: 20px;
    height: 20px;
  }
  table tbody tr td img {
    width: 20px;
    height: 20px;
  }
  table tbody tr td img:after {
    width: 20px;
    height: 20px;
  }
  #textbox1 span,
  #textbox2 span,
  #textbox3 span,
  #textbox4 span,
  #textbox5 span,
  #textbox6 span,
  #textbox7 span {
    font-size: 12px;
  }
  #recommendation {
    font-size: 8.3px;
  }
  .indic-icons {
    margin: 8.3px 13px 8.3px 13px;
    height: 42px;
    width: 42px;
  }
  .header1 {
    height: 83px;
  }
  #textbox {
    top: 17%;
  }
  #recommendation img {
    width: 11px;
    height: 11px;
  }
  .popover {
    font-size: 12px;
  }
}
@media screen and (max-width: 1280px) {
  table thead tr th {
    font-size: 15px;
  }
  table tr th {
    font-size: 11px;
  }
  table tbody tr td div {
    font-size: 11px;
  }
  .zoom-out {
    font-size: 10px;
    top: 59px;
  }
  table tbody tr th img {
    width: 17px;
    height: 17px;
  }
  table tbody tr th img:after {
    width: 17px;
    height: 17px;
  }
  table tbody tr td img {
    width: 17px;
    height: 17px;
  }
  table tbody tr td img:after {
    width: 17px;
    height: 17px;
  }
  #textbox1 span,
  #textbox2 span,
  #textbox3 span,
  #textbox4 span,
  #textbox5 span,
  #textbox6 span,
  #textbox7 span {
    font-size: 10px;
  }
  #recommendation {
    font-size: 6.9px;
  }
  .indic-icons {
    margin: 7px 10px 7px 10px;
    height: 35px;
    width: 35px;
  }
  #textbox {
    top: 14%;
  }
  #recommendation img {
    width: 9px;
    height: 9px;
  }
  .popover {
    font-size: 10px;
  }
}
@media screen and (max-width: 1024px) {
  table thead tr th {
    font-size: 13px;
  }
  table tr th {
    font-size: 10px;
  }
  table tbody tr td div {
    font-size: 10px;
  }
  .zoom-out {
    font-size: 8px;
    top: 51px;
  }

  table tbody tr th img {
    width: 14px;
    height: 14px;
  }
  table tbody tr th img:after {
    width: 14px;
    height: 14px;
  }
  table tbody tr td img {
    width: 14px;
    height: 14px;
  }
  table tbody tr td img:after {
    width: 14px;
    height: 14px;
  }
  #textbox1 span,
  #textbox2 span,
  #textbox3 span,
  #textbox4 span,
  #textbox5 span,
  #textbox6 span,
  #textbox7 span {
    font-size: 8px;
  }
  #recommendation {
    font-size: 6px;
  }
  .indic-icons {
    margin: 3px 9px 3px 9px;
    height: 30px;
    width: 30px;
  }

  #textbox {
    top: 12%;
  }
  #recommendation img {
    width: 7.8px;
    height: 7.8px;
  }
  .popover {
    font-size: 8px;
  }
}
