.background-image {
  background-image: url(1600-900-optimized/2.jpg) !important;
}

#group2-zoomed {
  fill: #678dac;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group2-zoomed:hover {
  fill: #757ea6;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group2-zoomed.active {
  fill: #757ea6;
  opacity: 1;
}

#pagetitlename {
  font-size: 28px;
}

.map-box {
  height: unset !important;

  position: absolute !important;
  left: 15% !important;
  right: 50% !important;
}

#svgRegions {
  font-size: 15px;
  text-decoration: none;
}

#svgRegions:hover {
  text-decoration: none;
}

.text-decoration-none:hover {
  text-decoration: none;
}

g#layer1 {
  transform: scale(1.5);
  -webkit-transform-origin-x: 1000px;
  -webkit-transform-origin-y: 422px;
}

g#poti {
  transform: scale(1.5);
  -webkit-transform-origin-x: 1000px;
  -webkit-transform-origin-y: 422px;
}

.btn.textbox-left-home {
  margin-top: -57px;
  margin-left: 25px;
}

.textbox-left-home {
  z-index: 100 !important;
  width: 160px;
  left: unset;
  background-color: #678dac;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.textbox-left-home:hover {
  background-color: #757ea6;
}

.textbox-right-home:hover {
  background-color: #757ea6 !important;
}
.textbox-right-home {
  background-color: #678dac !important;
}

.back-btn {
  text-decoration: none;
  color: #fff;
}

.back-btn:visited,
.back-btn:hover {
  text-decoration: none;
  color: #fff;
}

.machveneblebi-right {
  font-family: arial, sans-serif !important;
  border-collapse: collapse !important;
  width: 20% !important;
  float: right;
  margin-right: 25px;
}

.machveneblebi-right td,
.machveneblebi-right th {
  text-align: left !important;
  padding: 8px !important;
  border-bottom: 1px solid #ddd !important;
}

.machveneblebi-right th {
  font-weight: bolder;
}

.machveneblebi-right td:hover {
  background-color: #f5f5f5;
}

.machveneblebi-right td {
  font-weight: bold;
}

.machveneblebi-right tr:nth-child(even) {
  background-color: transparent !important;
}

.float-right {
  float: right;
}

#svg4380 {
  /* z-index: -1 !important; */
  width: 920px;
  height: 100%;
  margin-left: 100px;
}

.machveneblebi-left {
  font-family: arial, sans-serif !important;
  border-collapse: collapse !important;
  width: 17% !important;
  float: left;
  margin-left: 25px;
}

.machveneblebi-left td,
.machveneblebi-left th {
  text-align: left !important;
  padding: 8px !important;
  border-bottom: 1px solid #ddd !important;
}

.machveneblebi-left th {
  font-weight: bolder;
}

#dziritadi1,
#dziritadi2,
#dziritadi3,
#dziritadi4,
#dziritadi5,
#dziritadi6,
#dziritadi7,
#dziritadi8,
#dziritadi9,
#dziritadi10,
#dziritadi11,
#dziritadi12,
#dziritadi13,
#dziritadi14,
#dziritadi15,
#dziritadi16,
#dziritadi17,
#dziritadi18,
#dziritadi19,
#dziritadi20,
#dziritadi21,
#dziritadi22,
#dziritadiMain {
  font-weight: bolder;
  background: url("https://cdn-icons-png.flaticon.com/512/32/32195.png") no-repeat;
  background-size: 18px 18px !important;
  background-position: 96% 50% !important;
  cursor: pointer;
}
#dziritadi {
  font-weight: bolder;
}

.machveneblebi-left td:hover {
  background-color: #f5f5f5;
}

.machveneblebi-left tr:nth-child(even) {
  background-color: transparent !important;
}

.informacia,
.informacia1,
.informacia2,
.informacia3,
.informacia4,
.informacia5,
.informacia6,
.informacia7,
.informacia8,
.informacia9,
.informacia10,
.informacia11,
.informacia12,
.informacia13,
.informacia14,
.informacia15,
.informacia16,
.informacia17,
.informacia18,
.informacia19,
.informacia20,
.informacia21,
.informacia22,
.informaciaMain {
  display: none;
  justify-content: space-between;
  border-bottom: 1px solid #ddd !important;
}

.informacia:hover,
.informacia1:hover,
.informacia2:hover,
.informacia3:hover,
.informacia4:hover,
.informacia5:hover,
.informacia6:hover,
.informacia7:hover,
.informacia8:hover,
.informacia9:hover,
.informacia10:hover,
.informacia11:hover,
.informacia12:hover,
.informacia13:hover,
.informacia14:hover,
.informacia15:hover,
.informacia16:hover,
.informacia17:hover,
.informacia18:hover,
.informacia19:hover,
.informacia20:hover,
.informacia21:hover,
.informacia22:hover,
#dziritadi1:hover,
#dziritadi2:hover,
#dziritadi3:hover,
#dziritadi4:hover,
#dziritadi5:hover,
#dziritadi6:hover,
#dziritadi7:hover,
#dziritadi8:hover,
#dziritadi9:hover,
#dziritadi10:hover,
#dziritadi11:hover,
#dziritadi:hover,
#dziritadi12:hover,
#dziritadi13:hover,
#dziritadi14:hover,
#dziritadi15:hover,
#dziritadi16:hover,
#dziritadi17:hover,
#dziritadi18:hover,
#dziritadi19:hover,
#dziritadi20:hover,
#dziritadi21:hover,
#dziritadi22:hover,
#dziritadiMain:hover {
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid #ddd !important;
}

tr.informacia1:hover,
tr.informacia2:hover,
tr.informacia3:hover,
tr.informacia4:hover,
tr.informacia5:hover,
tr.informacia6:hover,
tr.informacia7:hover,
tr.informacia8:hover,
tr.informacia9:hover,
tr.informacia10:hover,
tr.informacia11:hover,
tr.informacia:hover,
tr.informacia12:hover,
tr.informacia13:hover,
tr.informacia14:hover,
tr.informacia15:hover,
tr.informacia16:hover,
tr.informacia17:hover,
tr.informacia18:hover,
tr.informacia19:hover,
tr.informacia20:hover,
tr.informacia21:hover,
tr.informacia22:hover,
tr.informaciaMain:hover {
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid #ddd !important;
}

tr.informacia1,
tr.informacia2,
tr.informacia3,
tr.informacia4,
tr.informacia5,
tr.informacia6,
tr.informacia7,
tr.informacia8,
tr.informacia9,
tr.informacia10,
tr.informacia11,
tr.informacia,
tr.informacia12,
tr.informacia13,
tr.informacia14,
tr.informacia15,
tr.informacia16,
tr.informacia17,
tr.informacia18,
tr.informacia19,
tr.informacia20,
tr.informacia21,
tr.informacia22,
tr.informaciaMain {
  border-bottom: 1px solid #ddd !important;
}

.map-box {
  max-width: 1050px;
  margin-left: 76px;
}

#abashaSVG {
  width: 940px;
  margin-left: 8%;
  margin-top: -1%;
}

#chxorowyuSVG {
  width: 642px;
  margin-left: 24%;
  margin-top: -5%;
}

#xobiSVG {
  width: 743px;
  margin-left: 19%;
  margin-top: -15%;
}

#martviliSVG {
  width: 683px;
  margin-left: 19%;
  margin-top: -9%;
}

#mestiaSVG {
  width: 1111px;
  margin-left: 4%;
  margin-top: -9%;
}

#senakiSVG {
  width: 826px;
  margin-left: 15%;
  margin-top: -15%;
}

#tsalenjikhaSVG {
  width: 677px;
  margin-left: 19%;
  margin-top: -9%;
}

#zugdidiSVG {
  width: 898px;
  margin-left: 10%;
  margin-top: -23%;
}

#potiSVG {
  width: 618px;
  margin-left: 12%;
  margin-top: -7%;
}

#tbilisiSVG {
  width: 1079px;
  margin-left: 9%;
  margin-top: -10%;
}

#withoutArrow {
  font-weight: bolder;
  background-size: 18px 18px !important;
  background-position: 96% 50% !important;
}
