.background-image {
    background-image: url(1600-900-optimized/2.jpg) !important;
}

#group2-zoomed {
    fill: #678dac;
    stroke-width: 0.5px;
    stroke: white;
    transition: 0.6s fill;
    transition: 0.6s stroke-width;
    transition: 0.6s stroke;
    transition: 0.6s opacity;
  }
  #group2-zoomed:hover {
    fill: #757ea6;
    cursor: pointer;
    stroke-width: 0.5px;
    stroke: white;
  }
  #group2-zoomed.active {
    fill: #757ea6;
    opacity: 1;
  }

  .map-box{
    height: unset !important;

    position: absolute !important;
    left: 15% !important;
    right: 50% !important;
  }

  #svgRegions{
    font-size: 15px;
    text-decoration: none;
  }

  #svgRegions:hover{
    text-decoration: none;
  }

  .text-decoration-none:hover{
    text-decoration: none;
  }


  g#layer1 {
    transform: scale(1.7);
    -webkit-transform-origin-x: 699px;
    -webkit-transform-origin-y: 360px;
}