.background-image {
    background-image: url(1600-900-optimized/2.jpg) !important;
}

#group2-zoomed {
    fill: #678dac;
    stroke-width: 0.5px;
    stroke: white;
    transition: 0.6s fill;
    transition: 0.6s stroke-width;
    transition: 0.6s stroke;
    transition: 0.6s opacity;
  }
  #group2-zoomed:hover {
    fill: #757ea6;
    cursor: pointer;
    stroke-width: 0.5px;
    stroke: white;
  }
  #group2-zoomed.active {
    fill: #757ea6;
    opacity: 1;
  }

  .map-box{
    height: unset !important;

    position: absolute !important;
    left: 15% !important;
    right: 50% !important;
  }

  #svgRegions{
    font-size: 15px;
    text-decoration: none;
  }

  #svgRegions:hover{
    text-decoration: none;
  }

  .text-decoration-none:hover{
    text-decoration: none;
  }


  g#layer1 {
    transform: scale(1.8);
    -webkit-transform-origin-x: 889px;
    -webkit-transform-origin-y: 400px;
}

.btn.textbox-left-home {
  margin-top: -57px;
  margin-left: 25px;
}

.textbox-left-home{
  z-index: 100 !important;
  width: 160px;
  left: unset;
  background-color: #678dac;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.textbox-left-home:hover{
  background-color: #757ea6;
}

.textbox-right-home:hover{
  background-color: #757ea6 !important;
}
.textbox-right-home{
  background-color: #678dac !important;
}

.back-btn{
  text-decoration: none;
  color: #fff;
}

.back-btn:visited, .back-btn:hover{
  text-decoration: none;
  color: #fff;
}

.machveneblebi-right {
  font-family: arial, sans-serif !important;
  border-collapse: collapse !important;
  width: 20% !important;
  float: right;
  margin-right: 25px;
}

.machveneblebi-right td, .machveneblebi-right th {
  text-align: left !important;
  padding: 8px !important;
  border-bottom: 1px solid #ddd !important;
}

.machveneblebi-right th{
  font-weight: bolder;
}

.machveneblebi-right td:hover{
  background-color: #f5f5f5;
}

.machveneblebi-right td{
  font-weight: bold;
}

.machveneblebi-right tr:nth-child(even) {
  background-color: transparent !important;
}

.float-right{
  float: right;
}

#svg4380{
  /* z-index: -1 !important; */
  width: 920px;
  height: 100%;
}

