g#layer12 {
  transform: scale(2.7);
  /* transform-origin: center; */
  -webkit-transform-origin-x: 1550px;
  -webkit-transform-origin-y: 842px;
}

#goriSVG,
#kaspiSVG,
#qareliSVG,
#xashuriSVG {
  width: 80%;
}
