g#layer2 {
  transform: scale(2.2);
  -webkit-transform-origin-x: 750px;
  -webkit-transform-origin-y: 950px;
}

#group3-zoomed {
  fill: #6ea76f;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group3-zoomed:hover {
  fill: #66aba5;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group3-zoomed.active {
  fill: #66aba5;
  opacity: 1;
}

#chokhatauriSVG,
#lanchxutiSVG,
#ozurgetiSVG {
  width: 88%;
}
