/* g#layer8 {
  transform: scale(8.1);
  -webkit-transform-origin-x: 1570px;
  -webkit-transform-origin-y: 911px;
} */

/* this is for mac responsive */

g#layer8 {
  transform: scale(9.9);
  -webkit-transform-origin-x: 1532px;
  -webkit-transform-origin-y: 894px;
}

/* g#layer8 {
  transform: scale(8.4);
  -webkit-transform-origin-x: 166vh;
  -webkit-transform-origin-y: 96vh;
} */

g#layer8 text {
  font-size: 6px;
}

#group3-zoomed {
  fill: #6ea76f;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group3-zoomed:hover {
  fill: #66aba5;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group3-zoomed.active {
  fill: #66aba5;
  opacity: 1;
}

#marneuliSVG,
#dmanisiSVG,
#bolnisiSVG {
  width: 80%;
}

#walkaSVG,
#tetriwyaroSVG {
  width: 80%;
}

#gardabaniSVG {
  width: 80%;
}
