g#layer8 {
  transform: scale(1.9);
  -webkit-transform-origin-x: 2175px;
  -webkit-transform-origin-y: 1405px;
}

.map-box {
  left: 18% !important;
}

#group3-zoomed {
  fill: #6ea76f;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group3-zoomed:hover {
  fill: #66aba5;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group3-zoomed.active {
  fill: #66aba5;
  opacity: 1;
}

#marneuliSVG,
#dmanisiSVG,
#bolnisiSVG {
  width: 803px;
  margin-left: 11%;
}

#walkaSVG,
#tetriwyaroSVG {
  width: 1056px;
  margin-left: 8%;
}

#gardabaniSVG {
  width: 551px;
  margin-left: 17%;
}
