g#layer9 {
  transform: scale(1.2);
  transform-origin: center;
}

#group6-zoomed {
  fill: #c85861;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group6-zoomed:hover {
  fill: #c75685;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group6-zoomed.active {
  fill: #c75685;
  opacity: 1;
}

#axmetaSVG {
  width: 80%;
}

#telaviSVG {
  width: 80%;
}

#kvareliSVG {
  width: 80%;
}

#lagodexiSVG {
  width: 80%;
}

#gurjaaniSVG {
  width: 80%;
}

#sagarejoSVG {
  width: 80%;
}

#signagiSVG {
  width: 80%;
}

#dedofliswyaroSVG {
  width: 80%;
}
