g#layer5 {
  transform: scale(1.8);
  -webkit-transform-origin-x: 1500px;
  -webkit-transform-origin-y: 1516px;
}

.map-box {
  left: 20% !important;
}

#group5-zoomed {
  fill: #9e6e9c;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group5-zoomed:hover {
  fill: #b5568c;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group5-zoomed.active {
  fill: #b5568c;
  opacity: 1;
}

#axalqalaqiSVG,
#ninowmindaSVG,
#akhaltsikheSVG,
#aspindzaSVG {
  width: 619px;
  margin-left: 19%;
}

#borjomiSVG,
#adigeniSVG {
  width: 1000px;
  margin-left: 8%;
}
