.background-image {
  background-image: url(../1600-900-optimized/5.jpg) !important;
}
g#layer5 {
  transform: scale(1.9);
  -webkit-transform-origin-x: 1350px;
  -webkit-transform-origin-y: 1360px;
}

#group5-zoomed {
  fill: #9e6e9c;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group5-zoomed:hover {
  fill: #b5568c;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group5-zoomed.active {
  fill: #b5568c;
  opacity: 1;
}

.btn.textbox-left-home,
.btn.textbox-right-home {
  background-color: #9e6e9c;
}

.textbox-right-home {
  background-color: #9e6e9c !important;
}

.textbox-left-home:hover,
.textbox-right-home:hover {
  background-color: #b5568c !important;
}

#axalqalaqiSVG, #ninowmindaSVG, #akhaltsikheSVG, #aspindzaSVG {
  width: 677px;
  margin-left: 19%;
  margin-top: -8%;
}

#borjomiSVG, #adigeniSVG {
  width: 1100px;
  margin-left: 8%;
  margin-top: -5%;
}

