g#layer6 {
  transform: scale(1.9);
  -webkit-transform-origin-x: 1300px;
  -webkit-transform-origin-y: 945px;
}

#group6-zoomed {
  fill: #c85861;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group6-zoomed:hover {
  fill: #c75685;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group6-zoomed.active {
  fill: #c75685;
  opacity: 1;
}

#baghdatiSVG {
  width: 78%;
}

#chiaturaSVG {
  width: 78%;
}

#khoniSVG,
#sachkhereSVG {
  width: 77%;
}

#samtrediaSVG {
  width: 77%;
}

#terjolaSVG {
  width: 80%;
}

#tkibuliSVG {
  width: 80%;
}

#vaniSVG {
  width: 80%;
}

#tskaltuboSVG {
  width: 80%;
}

#kharagauliSVG {
  width: 80%;
}

#zestafoniSVG {
  width: 80%;
}
