g#layer6 {
  transform: scale(1.9);
  -webkit-transform-origin-x: 1300px;
  -webkit-transform-origin-y: 945px;
}

#group6-zoomed {
  fill: #c85861;
  stroke-width: 0.5px;
  stroke: white;
  transition: 0.6s fill;
  transition: 0.6s stroke-width;
  transition: 0.6s stroke;
  transition: 0.6s opacity;
}
#group6-zoomed:hover {
  fill: #c75685;
  cursor: pointer;
  stroke-width: 0.5px;
  stroke: white;
}
#group6-zoomed.active {
  fill: #c75685;
  opacity: 1;
}

.btn.textbox-left-home,
.btn.textbox-right-home {
  background-color: #c85861;
}

.textbox-right-home {
  background-color: #c85861 !important;
}

.textbox-left-home:hover,
.textbox-right-home:hover {
  background-color: #c75685 !important;
}

#baghdatiSVG {
  width: 689px;
  margin-left: 17%;
}

#chiaturaSVG {
  width: 616px;
  margin-left: 18%;
}

#khoniSVG,
#sachkhereSVG {
  width: 563px;
  margin-left: 18%;
}

#samtrediaSVG {
  width: 673px;
  margin-left: 18%;
}

.map-box {
  left: 17% !important;
}

#terjolaSVG {
  width: 1000px;
  margin-left: 6%;
}

#tkibuliSVG {
  width: 961px;
  margin-left: 7%;
}

#vaniSVG {
  width: 682px;
  margin-left: 16%;
}

#tskaltuboSVG {
  width: 617px;
  margin-left: 18%;
}

#kharagauliSVG {
  width: 1008px;
  margin-left: 4%;
}

#zestafoniSVG {
  width: 1041px;
  margin-left: -1%;
}
